/*
para ativar o sass. 
sass --watch sass/style.sass:css/style.css
------------------------------------------------
*/
/*Import variables*/
/*PALETAS DE CORES*/
/*--------------------------------------*/
body {
  margin: 0px;
}

.pmat {
  display: flex;
  flex-direction: column;
  font-size: 5.5em;
  color: rgb(67, 65, 108);
}

.conteiner-00 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/002.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteiner-01 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.col-01 {
  height: 180px;
  width: 320px;
  background-color: rgba(227, 219, 228, 0.609);
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  font-weight: bolder;
  box-shadow: 2px 2px rgb(5, 5, 5);
  padding-left: 10px;
}

.col-01:hover {
  height: 200px;
  width: 350px;
  color: rgb(248, 244, 242);
  background-color: rgb(67, 65, 108);
  font-size: 1.6em;
}

.link-a {
  text-decoration: none;
  font-size: 1.4em;
}

.link-a:hover {
  text-decoration: none;
  font-size: 1.5em;
}

@media (max-width: 1440px) {
  .pmat {
    font-size: 3.5em;
  }
  .col-01 {
    height: 140px;
    width: 260px;
    margin: 10px;
    font-size: 1.2em;
  }
  .col-01:hover {
    height: 150px;
    width: 270px;
    font-size: 1.3em;
  }
}
@media (max-width: 1024px) {
  .pmat {
    font-size: 3em;
  }
  .col-01 {
    height: 110px;
    width: 200px;
    font-size: 1em;
    margin: 8px;
  }
  .col-01:hover {
    height: 120px;
    width: 210px;
    font-size: 1.1em;
  }
}
@media (max-width: 768px) {
  .pmat {
    font-size: 2em;
  }
  .col-01 {
    height: 100px;
    width: 170px;
    font-size: 1em;
    margin: 10px;
  }
  .col-01:hover {
    height: 110px;
    width: 180px;
    font-size: 1.1em;
  }
}
@media (max-width: 425px) {
  .pmat {
    font-size: 1.5em;
  }
  .col-01 {
    height: 90px;
    width: 120px;
    font-size: 0.8em;
    margin: 5px;
  }
  .col-01:hover {
    height: 110px;
    width: 180px;
    font-size: 0.9em;
  }
}
body {
  margin: 0px;
  background-color: rgb(217, 211, 99);
}

.container {
  margin: 10px;
}

a {
  text-decoration: none;
}

#section-0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 2.5em;
  color: rgb(67, 65, 108);
}

.menu {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bolder;
  color: rgb(252, 172, 117);
}

a:hover {
  font-size: 1.6em;
}

.section1 {
  display: flex;
  flex-direction: row;
  background-color: rgb(252, 172, 117);
  align-items: last baseline;
  justify-content: space-around;
  border-style: solid;
  border-width: 3px;
  margin-top: 20px;
  font-size: 1.6em;
}

.section2 {
  display: flex;
  flex-direction: row;
  background-color: rgb(229, 225, 203);
  align-items: last baseline;
  justify-content: space-around;
  border-style: solid;
  border-width: 3px;
  margin-top: 20px;
  font-size: 1.6em;
}

.text {
  font-weight: 900;
  color: black;
  font-size: 1.3em;
}

/*radio*/
#form_oui {
  height: 30px;
  width: 30px;
}

.imputHRS {
  height: 30px;
  width: 90px;
  font-size: 20px;
  color: blue;
  font-weight: bolder;
}

.nomeForm {
  height: 30px;
  width: 250px;
  font-size: 20px;
  font-weight: bolder;
  color: blue;
}

.telefone {
  height: 30px;
  width: 200px;
  font-size: 20px;
  font-weight: bolder;
  color: blue;
}

.teste {
  height: 98vh;
  width: 100vw;
  background-image: url(/img/construcao-1000x750.png);
  background-repeat: repeat;
  background-size: contain;
}

/*--------------------------Resposividade--------------*/
@media (max-width: 1440px) {
  #section-0 {
    font-size: 2em;
  }
  .menu {
    font-size: 1em;
  }
  a:hover {
    font-size: 1.1em;
  }
  .section1 {
    margin-top: 5px;
    font-size: 0.7em;
  }
  .text {
    font-size: 1.6em;
  }
  /*radio*/
  #form_oui {
    height: 20px;
    width: 20px;
  }
  .imputHRS {
    height: 25px;
    width: 65px;
    font-size: 1.5em;
  }
  .nomeForm {
    height: 25px;
    width: 220px;
    font-size: 1.5em;
  }
  .telefone {
    height: 25px;
    width: 130px;
    font-size: 1.5em;
  }
  /*pagina em construcao*/
  .teste {
    height: 98vh;
    width: 100vw;
    background-image: url(/img/construcao-1000x750.png);
    background-repeat: repeat;
    background-size: contain;
  }
}
@media (max-width: 1024px) {
  #section-0 {
    font-size: 1.5em;
  }
  .menu {
    font-size: 0.7em;
  }
  a:hover {
    font-size: 0.8em;
  }
  .section1 {
    margin-top: 2px;
    font-size: 0.7em;
  }
  .text {
    font-size: 1.1em;
  }
  /*radio*/
  #form_oui {
    height: 15px;
    width: 15px;
  }
  .imputHRS {
    height: 15px;
    width: 45px;
    font-size: 1.1em;
  }
  .nomeForm {
    height: 15px;
    width: 160px;
    font-size: 1.1em;
  }
  .telefone {
    height: 15px;
    width: 100px;
    font-size: 1.1em;
  }
  /*pagina em construcao*/
}
@media (max-width: 768px) {
  #section-0 {
    font-size: 1.5em;
  }
  .menu {
    font-size: 0.8em;
  }
  a:hover {
    font-size: 0.9em;
  }
  .section1 {
    margin-top: 3px;
    font-size: 0.8em;
  }
  .text {
    font-size: 1em;
  }
  /*radio*/
  #form_oui {
    height: 15px;
    width: 15px;
  }
  .imputHRS {
    height: 15px;
    width: 30px;
    font-size: 0.8em;
  }
  .nomeForm {
    height: 15px;
    width: 140px;
    font-size: 0.8em;
  }
  .telefone {
    height: 15px;
    width: 80px;
    font-size: 0.8em;
  }
}
@media (max-width: 425px) {
  #section-0 {
    font-size: 1em;
  }
  .menu {
    font-size: 1;
  }
  a:hover {
    font-size: 1em;
  }
  .section1 {
    margin-top: 1px;
    font-size: 1em;
  }
  .text {
    font-size: 0.9em;
  }
  /*radio*/
  #form_oui {
    height: 20px;
    width: 20px;
  }
  .imputHRS {
    height: 20px;
    width: 50px;
    font-size: 0.9em;
  }
  .nomeForm {
    height: 20px;
    width: 100px;
    font-size: 0.9em;
  }
  .telefone {
    height: 20px;
    width: 50px;
    font-size: 0.5em;
  }
}

/*# sourceMappingURL=style.css.map */
