#section-menu{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btnstyle{
width: 140px;
height: 60px;
background-color: rgb(226, 159, 13);
font-size: 1em;
border-radius: 10px;
font-weight: 900;
}
.btn{
    height: 60px;
    width: 140px;
    font-size: 1em;
    font-weight: bolder;
    color: blue;
    border-radius: 10px;
    background-color: aquamarine;
}
a{
    text-decoration: none;
}
a:hover,.btn:hover{
    font-size: 1.2em;

}
.btnstyle:hover,.btn:hover{
    background-color: orange;
}
