body{
    margin: 0px;
    background-color: $quarta-color;
    }
    .container{
        margin: 10px;
    }
    a{
        text-decoration: none;
    }
    
    #section-0{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        font-size: 2.5em;
        color: $segunda-color;
      
    }
    
    .menu{
        font-size: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-weight: bolder;
        color: $quita-color;
    }
    a:hover{
        font-size: 1.6em;
    }
    .section1{
        display: flex;
        flex-direction: row;
        background-color: $quita-color;
        align-items: last baseline;
        justify-content: space-around;
        border-style:solid;
        border-width:3px;
        margin-top: 20px;
        font-size: 1.6em;
    }
    .section2{
        display: flex;
        flex-direction: row;
        background-color: rgb(229, 225, 203);
        align-items: last baseline;
        justify-content: space-around;
        border-style:solid;
        border-width:3px;
        margin-top: 20px;
        font-size: 1.6em;
    }
    
    .text{
        font-weight: 900;
        color: black;
        font-size: 1.3em;
    }
    
    /*radio*/
    #form_oui {
        height: 30px;
        width: 30px;
    }
    .imputHRS{
    height: 30px;
    width: 90px;
    font-size: 20px;
    color: blue;
    font-weight: bolder;
    }
    .nomeForm{
        height: 30px;
        width: 250px;
        font-size: 20px;
        font-weight: bolder;
        color: blue;
    }
    .telefone{
        height: 30px;
        width: 200px;
        font-size: 20px;
        font-weight: bolder;
        color: blue;
    }
.teste{
    height: 98vh;
    width: 100vw;
    background-image: url(/img/construcao-1000x750.png);
    background-repeat: repeat;
   background-size: contain;
}
/*--------------------------Resposividade--------------*/
@media (max-width: 1450px) {  
    #section-0{
        font-size: 2em;
    }
    
    .menu{
        font-size: 1em;
    }
    a:hover{
        font-size: 1.1em;
    }
    .section1{
        margin-top: 5px;
        font-size: 0.7em;
    }    
    .text{
        font-size: 1.6em;
    }
    
    /*radio*/
    #form_oui {
        height: 20px;
        width: 20px;
    }
    .imputHRS{
    height: 25px;
    width: 65px;
    font-size: 1.5em;
    }
    .nomeForm{
        height: 25px;
        width: 220px;
        font-size: 1.5em;
    }
    .telefone{
        height: 25px;
        width: 130px;
        font-size: 1.5em;
    }
    /*pagina em construcao*/

.teste{
    height: 98vh;
    width: 100vw;
    background-image: url(/img/construcao-1000x750.png);
    background-repeat: repeat;
   background-size: contain;
}

   }
 
   @media (max-width: 1034px) {
    #section-0{
        font-size: 1.5em;
    }
    
    .menu{
        font-size: 0.7em;
    }
    a:hover{
        font-size: 0.8em;
    }
    .section1{
        margin-top: 2px;
        font-size: 0.7em;
    }    
    .text{
        font-size: 1.1em;
    }
    
    /*radio*/
    #form_oui {
        height: 15px;
        width: 15px;
    }
    .imputHRS{
    height: 15px;
    width: 45px;
    font-size: 1.1em;
    }
    .nomeForm{
        height: 15px;
        width: 160px;
        font-size: 1.1em;
    }
    .telefone{
        height: 15px;
        width: 100px;
        font-size: 1.1em;
    }
    /*pagina em construcao*/
   }
   @media (max-width: 770px) {
    #section-0{
        font-size: 1.5em;
    }
    
    .menu{
        font-size: 0.8em;
    }
    a:hover{
        font-size: 0.9em;
    }
    .section1{
        margin-top: 3px;
        font-size: 0.8em;
    }    
    .text{
        font-size: 1em;
    }
    
    /*radio*/
    #form_oui {
        height: 15px;
        width: 15px;
    }
    .imputHRS{
    height: 15px;
    width: 30px;
    font-size: 0.8em;
    }
    .nomeForm{
        height: 15px;
        width: 140px;
        font-size: 0.8em;
    }
    .telefone{
        height: 15px;
        width: 80px;
        font-size: 0.8em;
    }
   }
   @media (max-width: 430px) {
    #section-0{
        font-size: 1em;
    }
    
    .menu{
        font-size: 1;
    }
    a:hover{
        font-size: 1em;
    }
    .section1{
        margin-top: 1px;
        font-size: 1em;
    }    
    .text{
        font-size: 0.9em;
    }
    
    /*radio*/
    #form_oui {
        height: 20px;
        width: 20px;
    }
    .imputHRS{
    height: 20px;
    width: 50px;
    font-size: 0.9em;
    }
    .nomeForm{
        height: 20px;
        width: 100px;
        font-size: 0.9em;
    }
    .telefone{
        height: 20px;
        width: 50px;
        font-size: 0.5em;
    }
   }